<div class="container">
	<div class="row">
		<div class="waiting_groups">
			<table class="table">
				<thead>
					<tr>
						<th>承認待ち</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% if @waiting.count > 0 %>
						<% @wait_groups.each do |w| %>
						<tr>
							<td><%= w.group_name %></td>
							<td>参加人数<%= w.user_groups.where(entry: true).count %>人</td>
							<td><%= link_to"承認", group_approval_path(w),method: :patch %></td>
							<td><%= link_to "拒否", group_withdrawal_path(w), method: :delete, "data-confirm" => "本当に拒否しますか？" %></td>
						</tr>
						<% end %>
					<% else %>
						<tr>
							<td>現在招待されているグループはありません。</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<div class="ownergroups">
			<table class="table">
				<thead>
					<tr>
						<th>オーナー</th>
					</tr>
				</thead>
			</table>
			<% if @owner.count > 0 %>
				<% @ownergroups.each do |m| %>
					<td>
						<%= link_to group_path(m) do %>
						<div class="col-lg-4 col-sm-12">
							<div class="thumbnail">
								<ul>
									<li><%= attachment_image_tag m, :group_image, fallback: "no_image.jpg", class: "index_recipe_iamges" %></li>
									<li><%= m.group_name %></li>
									<% end %>
									<li><strong>参加人数<%= m.user_groups.where(entry: true).count %>人/登録者数<%= m.favorites.count %>人</strong></li>
									<li><%= link_to "グループ退会", group_withdrawal_path(m), method: :delete, "data-confirm" => "本当に退会しますか？" %></li>
								</ul>
							</div>
						</div>
					</td>
				<% end %>
			<% end %>
		</div>
		<div class="mygroups">
			<table class="table">
				<thead>
					<tr>
						<th>参加しているグループ</th>
					</tr>
				</thead>
			</table>
				<% if @joingroups.count > 0 %>
				<td>
					<% @mygroups.each do |m| %>
					<div class="col-lg-4 col-sm-6">
						<ul class="thumbnail">
							<%= link_to group_path(m) do %>
								<li><%= attachment_image_tag m, :group_image, fallback: "no_image.jpg", class: "index_recipe_iamges" %></li>
								<li><%= m.group_name %></li>
							<% end %>
							<li><strong>参加人数<%= m.user_groups.where(entry: true).count %>人/登録者数<%= m.favorites.count %>人</strong></li>
							<li><%= link_to "グループ退会", group_withdrawal_path(m), method: :delete, "data-confirm" => "本当に退会しますか？" %></li>
						</ul>
					</div>
				</td>
					<% end %>
				<% else %>
					<tr>
						<td>現在参加しているグループはありません。</td>
					</tr>
				<% end %>
		</div>
	</div>
</div>