<div class="nested-fields well well-compact">
  <div class="form-group">
    <%= f.attachment_field :step_image, placeholder: "解説用画像" %><br>
    <%= f.text_area :procedure, placeholder:"かぶの皮を剥ぎ、1/4の大きさにカットします。" %>
    <br>
    <div class="num">
    <%= f.label :並び順 %><br>
    <%= f.number_field :procedure_num, :value => "1" %>
  	</div>
    <%= link_to_remove_association "手順を削除", f %>
  </div>
</div>

<script>
  $(function() {
      $('.form-inline').each(function(i) {
        $('.form-inline .num input').eq(i).val(i+1);
      });
    });
</script>