<div class="container">
	<div class="row">
		<div class="sidebar">
			<%= render 'root/sidebar' %>
		</div>
		<div class="contents col-xs-8">
			<div class="header row">
				<table class="table">
					<thead>
						<tr>
							<th>検索結果</th>
						</tr>
					</thead>
					<tbody>
					<% unless @groups.count == 0 %>
						<% @groups.each do |search| %>
							<tr>
								<td>
									<%= link_to group_path(search) do %>
									<div class="icon col-xs-1">
									<%= attachment_image_tag search, :group_image, fallback: "no_image.jpg", class: "group_icon" %>
									</div>
									<div class="col-xs-7" style= "text-align: center;">
										<strong><%= search.group_name %></strong>
									</div>
									<div class="col-xs-2">
										参加人数<%= search.user_groups.where(entry: true).count %>人
									</div>
									<div class="col-xs-2">
										登録者数<%= search.favorites.count %>人
									</div>
									<% end %>
								</td>
							</tr>
						<% end %>
					<% end %>
					</tbody>
				</table>
				<div class="row" style= "text-align: center;">
					<%= paginate @groups, :param_name => 'search_group' %>
				</div>
				<h2>レシピ</h2>
				<% if @recipes.count == 0 %>
				ヒットしませんでした。
				<% else %>
					<% @recipes.each do |search| %>
						<td class="recipes col-xs-4">
							<%= link_to recipe_count_path(search), method: :post do %>
							<div class=" col-xs-4">
								<ul class="thumbnail">
									<li><%= attachment_image_tag search, :cook_image, fallback: "no_image.jpg", class: "index_recipe_iamges" %></li>
									<li><%= search.title %></li>
									<li><%= search.group.group_name %></li>
									<li><span class="glyphicon glyphicon-eye-open"></span>閲覧数：<%= search.views %>回</li>
									<li>作成日<%= search.created_at.strftime('%Y年%m月%d日') %></li>
								</ul>
							</div>
							<% end %>
						</td>
					<% end %>
				<% end %>
				<div class="row" style= "text-align: center;">
					<%= paginate @recipes, :param_name => 'search_recipe' %>
				</div>
			</div>
		</div>
	</div>
</div>