<div class="container">
	<div class="row">
		<!-- 投稿者----------------------------------------------------------------------------- -->
		<% if user_signed_in? && @recipe.user_id == current_user.id %>
		<div class="contributor">
			<div class="info row">
				<div class="create col-xs-10">
					<h3>
						作成日：<%= @recipe.created_at.strftime('%Y年%m月%d日') %><br>
						〜投稿元〜<%= link_to group_path(@group) do %>
						<%= @recipe.group.group_name%>
						<% end %>
					</h3>
					<% if @recipe.user_id == current_user.id %>
					<div class="recipe">
						<%= link_to '編集', edit_recipe_path(@recipe), class: "btn btn-warning glyphicon glyphicon-pencil" %>
						<%= link_to '削除',recipe_path(@recipe), method: :delete, "data-confirm" => "レシピを削除しますか？", class: "btn btn-danger glyphicon glyphicon-exclamation-sign"%>
					</div>
					<% end %>
				</div>
				<div class="count col-xs-2">
					<h4><%= @recipe.views %> 回閲覧</h4>
				</div>
				<div class="none col-xs-10">
				</div>
				<div class="keep col-xs-2">
					<% if @recipe.kept_by?(current_user) %>
					  <div>
					    <%= link_to recipe_keeps_path(@recipe), method: :delete, class: "glyphicon btn btn-default glyphicon glyphicon-folder-close" do %>
					    ストック済み
					    <% end %>
					  </div>
					<% else %>
					  <div>
					    <%= link_to recipe_keeps_path(@recipe), method: :post, class: "glyphicon btn btn-warning glyphicon glyphicon-folder-open"  do %>
					    ストックに追加
					    <% end %>
					  </div>
					<% end %>
				</div><br>
			</div><br>
			<div class="title">
				<table class="table">
					<thead>
						<tr>
							<th><h1><strong><%= @recipe.title %></strong></h1></th>
						</tr>
					</thead>
					<% unless @recipe.comment == "" %>
					<tbody>
						<tr>
							<td><h2><%= @recipe.comment %></h2></td>
						</tr>
						<tr><td></td></tr>
					</tbody>
					<% end %>
				</table>
			</div>
			<div class="image col-xs-6">
				<%= attachment_image_tag @recipe, :cook_image, fallback:"no_image.jpg" %>
			</div>
			<div class="material col-xs-6">
				<table class="table table-bordered table-sortable2" data-remote="true">
					<thead>
						<tr>
							<th>材料</th>
						</tr>
					</thead>
					<tbody>
						<% @materials.each do |material| %>
						<tr class='item', data-model_name=<%= material.class.name.underscore %> data-update-url=<%= recipe_material_sort2_path(recipe_id: material.recipe.id, material_id: material.id) %> data-remote="true">
							<%= hidden_field_tag "authenticity_token", form_authenticity_token %>
							<td>
								<h1><%= material.material_name %>(<%= material.quantity %>)</h1>
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
			<div class="step row">
				<table class="table table-sortable" data-remote="true">
					<thead>
						<tr>
							<th>手順</th>
						</tr>
					</thead>
					<tbody>
						<% @steps.each do |step| %>
						<tr class='item', data-model_name=<%= step.class.name.underscore %> data-update-url=<%= recipe_step_sort_path(recipe_id: step.recipe.id, step_id: step.id) %> data-remote="true">
							<%= hidden_field_tag "authenticity_token", form_authenticity_token %>
							<td>
								<div class="col-xs-3">
									<%= attachment_image_tag step, :step_image, class: "setep_image" %>
								</div>
								<div class="col-xs-1"></div>
								<div class="col-xs-8">
									<h1 class="procedure" style="padding: 50px 0"><%= step.procedure %></h1>
								</div>
							</td>
						</tr>
						<% end %>
						<tr>
							<td>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<% elsif user_signed_in? %>
		<!-- その他アカウント------------------------------------------------------------------------ -->
		<div class="public_user">
			<div class="info row">
				<div class="create col-xs-10">
					<h3>
						作成日：<%= @recipe.created_at.strftime('%Y年%m月%d日') %><br>
						〜投稿元〜<%= link_to group_path(@group) do %>
						<%= @recipe.group.group_name%>
						<% end %>
					</h3>
				</div>
				<div class="count col-xs-2">
					<h4><%= @recipe.views %> 回閲覧</h4>
				</div><br>
				<div class="none col-xs-10">
				</div>
				<div class="keep col-xs-2">
					<% if @recipe.kept_by?(current_user) %>
					  <div>
					    <%= link_to recipe_keeps_path(@recipe), method: :delete, class: "glyphicon btn btn-default glyphicon glyphicon-folder-close" do %>
					    ストック済み
					    <% end %>
					  </div>
					<% else %>
					  <div>
					    <%= link_to recipe_keeps_path(@recipe), method: :post, class: "glyphicon btn btn-warning glyphicon glyphicon-folder-open"  do %>
					    ストックに追加
					    <% end %>
					  </div>
					<% end %>
				</div><br>
			</div><br>
			<div class="title">
				<table class="table">
					<thead>
						<tr>
							<th><h1><strong><%= @recipe.title %></strong></h1></th>
						</tr>
					</thead>
					<% unless @recipe.comment == "" %>
					<tbody>
						<tr>
							<td><h2><%= @recipe.comment %></h2></td>
						</tr>
						<tr><td></td></tr>
					</tbody>
					<% end %>
				</table>
			</div>
			<div class="image col-xs-6">
				<%= attachment_image_tag @recipe, :cook_image, fallback:"no_image.jpg" %>
			</div>
			<div class="material col-xs-6">
				<table class="table">
					<thead>
						<tr>
							<th>材料</th>
						</tr>
					</thead>
					<tbody>
						<% @materials.each do |r| %>
						<tr>
							<td>
								<h1><%= r.material_name %>(<%= r.quantity %>)</h1>
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
			<div class="step row">
					<table class="table">
						<thead>
							<tr>
								<th>手順</th>
							</tr>
						</thead>
						<tbody>
							<% @steps.each do |r| %>
							<tr>
								<td>
									<div class="col-xs-3">
										<%= attachment_image_tag r, :step_image, class: "setep_image" %>
									</div>
									<div class="col-xs-1"></div>
									<div class="col-xs-8">
										<h1 class="procedure" style="padding: 50px 0"><%= r.procedure %></h1>
									</div>
								</td>
							</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<% else %>
		<!-- ゲスト------------------------------------------------------------------------ -->
		<div class="gutst">
			<div class="info row">
				<div class="create col-xs-10">
					<h3>作成日：<%= @recipe.created_at.strftime('%Y年%m月%d日') %></h3>
				</div>
				<div class="title">
					<table class="table">
						<thead>
							<tr>
								<th><h1><strong><%= @recipe.title %></strong></h1></th>
							</tr>
						</thead>
						<% unless @recipe.comment == "" %>
						<tbody>
							<tr>
								<td><h2><%= @recipe.comment %></h2></td>
							</tr>
							<tr><td></td></tr>
						</tbody>
						<% end %>
					</table>
				</div>
				<div class="image col-xs-6">
					<%= attachment_image_tag @recipe, :cook_image, fallback:"no_image.jpg" %>
				</div>
				<div class="material col-xs-6">
					<table class="table">
						<thead>
							<tr>
								<th>材料</th>
							</tr>
						</thead>
						<tbody>
							<% @materials.each do |r| %>
							<tr>
								<td>
									<h1><%= r.material_name %>(<%= r.quantity %>)</h1>
								</td>
							</tr>
							<% end %>
						</tbody>
					</table>
				</div>
				<div class="step row">
					<table class="table">
						<thead>
							<tr>
								<th>手順</th>
							</tr>
						</thead>
						<tbody>
							<% @steps.each do |r| %>
							<tr>
								<td>
									<div class="col-xs-3">
										<%= attachment_image_tag r, :step_image, class: "setep_image" %>
									</div>
									<div class="col-xs-1"></div>
									<div class="col-xs-8">
										<h1 class="procedure" style="padding: 50px 0"><%= r.procedure %></h1>
									</div>
								</td>
							</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<% end %>
		<!-- ----------------------------------------------------------------------------- -->
		<div class="row">
			<h2>関連レシピ</h2>
			<% @relations.each do |r| %>
			<div class="relations col-xs-4">
				<ul class="thumbnail">
					<li class="recipes">
						<%= link_to recipe_count_path(r), method: :post do %>
								<li>
									<div class="relations_image">
									<%= attachment_image_tag r, :cook_image, fallback: "no_image.jpg", class: "relations_image" %>
									</div>
								</li>
								<li><%= truncate(r.title, length:10) %></li>
								<li><%= truncate(r.group.group_name, length:10) %></li>
								<li><span class="glyphicon glyphicon-eye-open"></span>閲覧数</li>
								<li><%= r.views %>回</li>
								<li>作成日</li>
								<li><%= r.created_at.strftime('%Y年%m月%d日') %></li>
						<% end %>
					</li>
				</ul>
			</div>
			<% end %>
		</div>
	</div>
</div>