<div class="container">
	<div class="row">
		<div class="sidebar">
			<%= render 'root/sidebar' %>
		</div>
		<div class="none col-xs-1">
		</div>
		<%= form_for(@new_group) do |g| %>
		<div class="error">
			<% if @new_group.errors.any? %>
		      <div id="error_explanation">
		       <h3><%= @new_group.errors.count %>件のエラーが発生しました。</h3>
		        <ul>
		         <% @new_group.errors.full_messages.each do |message| %>
		          <li><%= message %></li>
		         <% end %>
		        </ul>
		      </div>
		     <% end %>
		 </div>
		 <div class="field">
		  <%= g.label :グループの名前 %><br>
		  <%= g.text_field :group_name, placeholder:"グループの名前"%>
		</div><br>
		<div class="field">
		  <%= g.label :グループの画像 %><br>
		  <%= g.attachment_field :group_image, placeholder:"グループの画像", class: "attachment_form" %>
		</div><br>
		<div class="select">
		  <%= g.label :参加権限 %><br>
		  <%= g.select(:lock, [['全ての人が参加できます', false], ['招待した人のみ', true]]) %>
		</div><br>
		<div class="select">
		  <%= g.label :閲覧制限 %><br>
		  <%= g.select(:restrict, [['全べての人が閲覧できます', false], ['メンバーのみ閲覧できます', true]]) %>
		</div><br>
		<div class="actions">
		  <p></p>
		  <%= g.submit "新規作成" %>
		</div>
		<% end %>
	</div>
</div>