<div class="container">
	<div class="row">
		<div class="sidebar">
			<%= render 'root/sidebar' %>
		</div>
		<div class="contents col-xs-8">
			<div class="header row">
				<h4>参加人数<%= @joingroups %>人 登録者数<%= @favogroups %>人</h4>
				<div class="group_img col-xs-2">
					<%= attachment_image_tag @group, :group_image, fallback: "no_image.jpg" %>
				</div>
				<div class="group_name col-xs-7">
					<h1><%= @group.group_name %></h1>
				</div>
				<div class="btn col-xs-3">
					<div class="favarite">
						<% if @group.favorited_by?(current_user) %>
						  <div>
						    <%= link_to group_favorites_path(@group), method: :delete, class: "glyphicon btn btn-default" do %>
						    グループ登録済み <%= @group.favorites.count %>
						    <% end %>
						  </div>
						<% else %>
						  <div>
						    <%= link_to group_favorites_path(@group), method: :post, class: "glyphicon btn btn-danger"  do %>
						    グループ登録 <%= @group.favorites.count %>
						    <% end %>
						  </div>
						<% end %>
					</div><br>
					<div class="group_join">
						<% if @group.lock == false && !UserGroup.find_by(entry: true,  group_id: @group.id, user_id: current_user.id)%>
						<%= link_to 'グループに参加', group_joins_path(@group), method: :post, class: 'btn btn-success btn-block' %>
						<% end %>
					</div>
				</div>
			</div><br>
			<div class="row">
				<% if UserGroup.find_by(group_id: @group.id, user_id: current_user.id, entry: true, owner: true) %>
				<%= link_to"", edit_group_path(@group), class: 'col-xs-12 btn btn-default glyphicon glyphicon-wrench'%>
				<% end %>
			</div>
			<div class="row">
				<table class="table">
					<thead>
						<tr>
							<th>人気レシピ</th>
						</tr>
					</thead>
				</table>
				<% @popularity.each do |v| %>
					<td class="recipes col-xs-4">
						<%= link_to recipe_count_path(v), method: :post do %>
						<div class=" col-xs-4">
							<ul class="thumbnail">
								<li><%= attachment_image_tag v, :cook_image, fallback: "no_image.jpg", class: "index_recipe_iamges" %></li>
								<li><%= v.title %></li>
								<li><%= v.group.group_name %>・<span class="glyphicon glyphicon-eye-open"></span>閲覧数：<%= v.views %>回</li>
								<li>更新日　<%= v.updated_at.strftime('%Y年%m月%d日') %></li>
							</ul>
						</div>
						<% end %>
					</td>
				<% end %>
			</div>
			<div class="row">
				<table class="table">
					<thead>
						<tr>
							<th>グループレシピ</th>
						</tr>
					</thead>
				</table>
				<% @group_recipes.each do |v| %>
					<td class="recipes col-xs-4">
						<%= link_to recipe_count_path(v), method: :post do %>
						<div class=" col-xs-4">
							<ul class="thumbnail">
								<li><%= attachment_image_tag v, :cook_image, fallback: "no_image.jpg", class: "index_recipe_iamges" %></li>
								<li><%= v.title %></li>
								<li><%= v.group.group_name %>・<span class="glyphicon glyphicon-eye-open"></span>閲覧数：<%= v.views %>回</li>
								<li>更新日　<%= v.updated_at.strftime('%Y年%m月%d日') %></li>
							</ul>
						</div>
						<% end %>
					</td>
				<% end %>
			</div>
			<div class="row" style= "text-align: center;">
				<%= paginate @group_recipes, :param_name => 'group' %>
			</div>
		</div>
	</div>
</div>