<div class="container">
	<div class="row">
		<div class="sidebar">
			<%= render 'root/sidebar' %>
		</div>
		<div class="contents col-xs-9">
			<div class="header row">
				<div class="group_img col-xs-2">
					<%= attachment_image_tag @group, :group_image, fallback: "no_image.jpg" %>
				</div>
				<div class="group_name col-xs-7">
					<h1><%= @group.group_name %></h1>
				</div>
				<div class="btn col-xs-3">
					<div class="favarite">
						<% if @group.favorited_by?(current_user) %>
						  <div>
						    <%= link_to group_favorites_path(@group), method: :delete, class: "glyphicon btn btn-default" do %>
						    グループ登録済み <%= @group.favorites.count %>
						    <% end %>
						  </div>
						<% else %>
						  <div>
						    <%= link_to group_favorites_path(@group), method: :post, class: "glyphicon btn btn-danger"  do %>
						    グループ登録 <%= @group.favorites.count %>
						    <% end %>
						  </div>
						<% end %>
					</div><br>
					<div class="group_join">
						<% if @group.lock == false %>
						<%= link_to 'グループに参加', group_joins_path(@group), method: :post, class: 'btn btn-success btn-block' %>
						<% end %>
					</div>
					<!-- User.groupのentryの時に申し込み中に変化  countと同じように他のURLを作成する　-->
			</div>
			<div class="row">
				<% if UserGroup.find_by(group_id: @group.id, user_id: current_user.id, entry: true, owner: true) %>
				<%= link_to"", edit_group_path(@group), class: 'col-xs-12 btn btn-default glyphicon glyphicon-wrench'%>
				<% end %>
			</div>
		</div>
	</div>
</div>