<div class="container">
	<div class="row">
	<%= form_for(@user) do |f| %>
		<% if @user.errors.any? %>
		    <div id="error_explanation">
		      	<h2><%= @user.errors.count %>件のエラーが発生しました。</h2>
		      	<ul>
			      	<% @user.errors.full_messages.each do |message| %>
			        <li><%= message %></li>
			      <% end %>
		  		</ul>
	    	</div>
    	<% end %>
	<% end %>
	<div class="edit_form">
		<h3>User情報の編集</h3><br>
		<%= form_for(@user) do |f| %>
			<%= f.label :ニックネーム %><br>
			<%= f.text_field :name %><br>
			<%= f.label :アカウントID %><br>
			<%= f.email_field :account %><br>
			<%= f.label :メールアドレス %><br>
			<%= f.email_field :email %><br>
			<p></p>
			<%= f.submit "更新" %>
		<% end %>
		<br>
		<br>
		<br>
		<br>
		<%= link_to '退会',user_path(@user), method: :delete, "data-confirm" => "アカウント削除しますか？", class: "btn btn-danger glyphicon glyphicon-exclamation-sign"%>
	</div>
</div>