<div class="container">
	<div class="row">
		<div class="sidebar">
			<%= render 'root/sidebar' %>
		</div>
		<div class="history col-xs-8">
			<div class="row">
				<% if current_user.keeps.count == 0 %>
				ストックされているレシピがありません。
				<% else %>
				<table class="table table-hover">
					<thead>
						<tr>
							<th></th>
							<th>投稿履歴</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<% @user.recipes.each do |h| %>
						<tr class="row">
							<td class="recipes">
								<%= link_to recipe_path(h) do %>
								<div class="col-xs-4">
									<%= attachment_image_tag h, :cook_image, fallback: "no_image.jpg", class: "index_recipe_iamges" %>
								</div>
								<div class="info col-xs-8">
									<ul>
										<li><h4><strong><%= h.title %></strong></h4></li>
										<br>
										<li><%= h.group.group_name %>・<span class="glyphicon glyphicon-eye-open">閲覧数：</span><%= h.views %>回</li>
										<li>最終更新日　<%= h.updated_at.strftime('%Y年%m月%d日') %></li>
									</ul>
								</div>
								<% end %>
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>
				<% end %>
			</div>
		</div>
	</div>
</div>


