<div class="container">
	<div class="row">
		<div class="sidebar">
			<%= render 'root/sidebar' %>
		</div>
		<div class="contents col-xs-8">
			<!-- -------------------------------------------------------------------- -->
			<div class="row">
				<% if current_user.favorites.count == 0 %>
				<h2>最新レシピ</h2>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>
								<%= form_tag recipes_path, :method => 'get' do %>
							    <%= text_field_tag :title_search, params[:title_search] %>
							    <%= submit_tag "検索", :name => nil %>
							    <% end %>
		    				</th>
						</tr>
					</thead>
					<tbody>
					<% @allrecipes.each do |v| %>
						<tr>
							<td class="recipes">
								<%= link_to recipe_count_path(v), method: :post do %>
								<div class="col-xs-4">
									<%= attachment_image_tag v, :cook_image, fallback: "no_image.jpg", class: "index_recipe_iamges" %>
								</div>
								<div class="info col-xs-8">
									<ul>
										<li><h4><strong><%= v.title %></strong></h4></li>
										<br>
										<li><%= v.group.group_name %>・<span class="glyphicon glyphicon-eye-open">閲覧数：</span><%= v.views %>回</li>
										<li>作成日<%= v.created_at.strftime('%Y年%m月%d日') %></li>
									</ul>
								</div>
								<% end %>
							</td>
							<td></td>
						</tr>
					<% end %>
					</tbody>
				</table>
				<% else %>
				<table class="table table-hover">
					<thead>
						<th>
							<%= form_tag recipes_path, :method => 'get' do %>
						    <%= text_field_tag :title_search, params[:title_search] %>
						    <%= submit_tag "検索", :name => nil %>
						    <% end %>
	    				</th>
					</thead>
					<tbody>
					<% @recipes.each do |v| %>
						<tr>
							<td class="recipes">
								<%= link_to recipe_count_path(v), method: :post do %>
								<div class="col-xs-4">
									<%= attachment_image_tag v, :cook_image, fallback: "no_image.jpg", class: "index_recipe_iamges" %>
								</div>
								<div class="info col-xs-8">
									<ul>
										<li><h3><strong><%= v.title %></strong></h3></li>
										<br>
										<li><%= v.group.group_name %>・<span class="glyphicon glyphicon-eye-open">閲覧数：</span><%= v.views %>回</li>
										<li>作成日<%= v.created_at.strftime('%Y年%m月%d日') %></li>
									</ul>
								</div>
								<% end %>
							</td>
						</tr>
					<% end %>
					</tbody>
				</table>
				<div class="row" style= "text-align: center;">
					<%= paginate @recipes, :param_name => 'favorite' %>
				</div>
				<% end %>
			</div>
			<!-- -------------------------------------------------------------------- -->
		</div>
	</div>
</div>