<div class="container">
	<div class="row">
		<div class="contents">
			<!-- -------------------------------------------------------------------- -->
			<div class="row">
				<table class="table">
					<thead>
						<tr>
							<th>おすすめ</th>
						</tr>
					</thead>
				</table>
				<% @recommended.each do |v| %>
					<td class="recipes">
						<%= link_to recipe_count_path(v), method: :post do %>
						<div class="col-lg-4 col-sm-6">
							<ul class="thumbnail">
								<li><%= attachment_image_tag v, :cook_image, fallback: "no_image.jpg", class: "index_recipe_iamges" %></li>
								<li><strong><%= v.title %></strong></li><br>
								<li><%= v.group.group_name %></li>
								<li><span class="glyphicon glyphicon-eye-open"></span>閲覧数</li>
								<li><%= v.views %>回</li>
								<li>〜作成日〜</li>
								<li><%= v.created_at.strftime('%Y年%m月%d日') %></li>
							</ul>
						</div>
						<% end %>
					</td>
				<% end %>
			</div>
			<div class="row none">
			</div>
			<!-- -------------------------------------------------------------------- -->
			<% unless @week_views.count == 0 %>
			<div class="row">
				<table class="table">
					<thead>
						<tr>
							<th>週間閲覧数ランキング</th>
						</tr>
					</thead>
				</table>
				<% @week_views.each do |v| %>
					<td class="recipes">
						<%= link_to recipe_count_path(v), method: :post do %>
						<div class="col-lg-4 col-sm-6">
							<ul class="thumbnail">
								<li><%= attachment_image_tag v, :cook_image, fallback: "no_image.jpg", class: "index_recipe_iamges" %></li>
								<li><strong><%= v.title %></strong></li><br>
								<li><%= v.group.group_name %></li>
								<li><span class="glyphicon glyphicon-eye-open"></span>閲覧数</li>
								<li><%= v.views %>回</li>
								<li>〜作成日〜</li>
								<li><%= v.created_at.strftime('%Y年%m月%d日') %></li>
							</ul>
						</div>
						<% end %>
					</td>
				<% end %>
			</div>
			<div class="row" style= "text-align: center;">
				<%= paginate @week_views, :param_name => 'week_peage' %>
			</div>
			<% end %>
			<!-- -------------------------------------------------------------------- -->
			<div class="row">
				<table class="table">
					<thead>
						<tr>
							<th>月間閲覧数ランキング</th>
						</tr>
					</thead>
				</table>
				<% @month_views.each do |v| %>
					<td class="recipes">
						<%= link_to recipe_count_path(v), method: :post do %>
						<div class=" col-lg-4 col-sm-6">
							<ul class="thumbnail">
								<li><%= attachment_image_tag v, :cook_image, fallback: "no_image.jpg", class: "index_recipe_iamges" %></li>
								<li><strong><%= v.title %></strong></li><br>
								<li><%= v.group.group_name %></li>
								<li><span class="glyphicon glyphicon-eye-open"></span>閲覧数：<%= v.views %>回</li>
								<li>〜作成日〜</li>
								<li><%= v.created_at.strftime('%Y年%m月%d日') %></li>
							</ul>
						</div>
						<% end %>
					</td>
				<% end %>
			</div>
			<div class="row" style= "text-align: center;">
				<%= paginate @month_views, :param_name => 'month_page' %>
			</div>
			<!-- -------------------------------------------------------------------- -->
		</div>
	</div>
</div>