<!DOCTYPE html>
<html>
  <head>
    <title>Cbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-top">
      <div class="container">
        <div class="row">
          <nav class="nav navbar-nav navbar-left">
            <%= link_to root_path, class: "header_logo" do %>
            <h1>cbook</h1>
            <% end %>
          </nav>
          <nav class="header_nav nav-list">
            <ul class="nav navbar-nav navbar-right" style="color: black;">
              <% if user_signed_in? %>
                <li>
                  <%=link_to "マイページ",user_path(current_user) %>
                </li>
                <li>
                  <%=link_to "ログアウト",destroy_user_session_path, method: :delete %>
                </li>
              <% else %>
                <li>
                  <%= link_to"新規登録", new_user_registration_path %>
                </li>
                <li>
                  <%= link_to"ログイン", new_user_session_path %>
                </li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </header>
      
    </header>
    <main>
      <%= yield %>
    </main>
    <footer></footer>
  </body>
</html>
